@use "../../styles/variables.scss" as *;
.left {
  color: white;
  width: 100%;
  $sidebar-color: #181818;
  margin-left: 30px;

  h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    color: white;
    font-family: $font-primary;
  }

  p {
    font-size: 20px;
    font-family: $font-primary;
  }
  p span.pink {
    color: #ee10b0;
    font-weight: bold;
  }
  p span.blue {
    color: #0e9eef;
  }
}
