.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 0;

  h3 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
  } /* ← ⭐ eksik olan kapama burası */

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      color: white;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: #fff;
      }
    }
  }
}

.footerColumn ul li:not(:last-child) {
  margin-bottom: 12px;
}

.title {
  position: relative;
  font-weight: 700;
  color: #fff;
  padding-bottom: 6px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
  }
}
