@use '../../styles/mixins' as *;

.btn_container {
        background-color: pink;
        @include flex-center;
        display: flex;
        justify-content: center;
        align-items: center;
        

    .btn{
        background-color:red
    }
}