@use "../../styles/variables.scss" as *;
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
  background-color: $sidebar-color;
  min-height: 100vh;
}
