@import "../../styles/variables.scss";
.card {
  background-color: #1f1f1f;
  border-radius: 8px;
  //
  height: auto;
  width: 100%;

  padding-bottom: 10px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;

    color: #ffffff;
    font-family: $font-primary;
    text-align: left;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  }
}
