@use "../../styles/variables" as *;

.card {
  //background-color: #1f1f1f;
  border-radius: 10px;
  height: auto;
  width: 100%;
  padding: 4px 15px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    object-fit: cover;
  }

  p {
    font-size: 12px;
    color: white;
    margin: 10px 0 0 0;
    font-family: $font-primary;
    text-align: center;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  }
}
