@import "../../styles/variables.scss";
@import "../SongCardSection/SongCards.module.scss";
.wrapper {
  width: 100%;
}

.titleWeekly {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  margin-top: 30px;
  margin-left: 20px;
}
.titleWeekly span {
  color: #ee10b0;
}

/* Kartların olduğu grid */
.cardList {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-columns: repeat(5, 230px) 70px;

  gap: 50px;
  margin-top: 30px;
  margin-left: 20px;

  justify-items: center;
  align-items: center;
}
