@import "../../styles/variables.scss";
@import "../SongCardSection/SongCards.module.scss";
.wrapper {
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  margin-top: 20px;
}
h1 span {
  color: #ee10b0;
}

/* Kartların olduğu grid */
.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 176px);
  gap: 50px;
  margin-top: 20px;

  justify-content: center; /* grid’i ortalar */
  justify-items: end; /* her kartı kendi hücresinde sola yaslar */
  align-items: center;
}
