@use "../../styles/mixins" as *;
@use "/src/styles/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 6px 8px;
  background-color: transparent;
  color: white;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  width: calc(100% - 68px);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 25px;
  position: absolute;
  z-index: 2;
}
.left {
  display: flex;
  align-items: center;
}

.searchWrapper {
  position: relative;
}

.searchWrapper svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
}

.search {
  width: 339px; 
  height: 38px; 
  padding-left: 36px; 
  border-radius: 10px;
  border: none;
  background-color: #1f1f1f;
  color: white;
}

.center {
  flex: 1; 
  display: flex;
  justify-content: space-around;


  a {
    color: white;
    text-decoration: none;
    a {
      font-size: clamp(12px, 2vw, 16px);
    }

    font-weight: 500;
    font-family: $font-primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

/* Başlık varsayılan olarak gizli */
.homeTitle {
  display: none;
}

/* Geniş ekran (desktop) */
@media (min-width: 992px) {
  .homePage {
    display: none; // geniş ekranda gizlenir
  }
}

/* Tablet */
@media (max-width: 992px) {
  .center {
    gap: 10px;
  }
  .search {
    display: none;
  }
  .right {
    display: none;
  }
  .homePage {
    display: none; // geniş ekranda gizlenir
  }
}

/* Mobil */
@media (max-width: 600px) {
  .center {
    display: none; // menü gizlenir
  }
  .homeTitle {
    display: flex;
    font-size: clamp(14px, 4vw, 18px);
  }
  .homePage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .homeTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    font-size: 30px;
    gap: 10px;
  }
  .home {
    color: #0e9eef;
  }
  .page {
    color: #ee10b0;
  }
  .homePage svg:last-child {
    cursor: pointer;
    transition:
      transform 0.2s ease,
      color 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
  .homePage svg:first-child {
    cursor: pointer;
    transition:
      transform 0.2s ease,
      color 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
